.App {
  max-width: 1040px;
  margin: 0 auto;
  background-image: url(https://i.pinimg.com/originals/29/8d/93/298d930ccb08bbed8b70656e90a267cb.gif);
  background-size: 100;
  padding: 30vw;
  font-weight: bold;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Header nav {
  display: flex;
  justify-content: flex-end;
}

.Header nav a {
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 10px;
  text-decoration: underline;
}

.SignupForm {
  display: flex;
  flex-direction: column;
}

.SignForm input,
.SignupForm button {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}

.Drain {
  padding: 20v;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 100px;
  width: 400px;
  font-size: 30px;
  margin: 20px;
  justify-content: flex-end;
}
